body{
 
    background-color: blue;
    width: 100%;
}


.carousel-slide{
   margin-left:450px ;
    text-align: center;
    width: 50%;
}
.info{
    width: 50%;
    text-align: center;
    margin-left: 23.6%;
}